<h1 class="center white-text">2017 Formula 1 Race Calendar</h1>
<div class="row">
    <a [routerLink]="['albert_park']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/au.png">
                </div>
                <div class="card-content">
                    <p>Australia Melborne</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['shanghai']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/cn.png">
                </div>
                <div class="card-content">
                    <p>China Shanhai</p>
                </div>
            </div>
        </div>
    </a>
    <a [routerLink]="['bahrain']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/bh.png">
                </div>
                <div class="card-content">
                    <p>Bahrain Sakhir</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['sochi']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/ru.png">
                </div>
                <div class="card-content">
                    <p>Russia Sochi</p>
                </div>
            </div>
        </div>
    </a>
</div>


<div class="row">
    <a [routerLink]="['catalunya']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/es.png">
                </div>
                <div class="card-content">
                    <p>Spain Catalunya</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['monaco']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/mc.png">
                </div>
                <div class="card-content">
                    <p>Monaco Monte Carlo</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['villeneuve']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/ca.png">
                </div>
                <div class="card-content">
                    <p>Canada Montreal</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['BAK']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/az.png">
                </div>
                <div class="card-content">
                    <p>Azerbaijan Baku</p>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a [routerLink]="['red_bull_ring']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/at.png">
                </div>
                <div class="card-content">
                    <p>Austria Spielberg</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['silverstone']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/gb.png">
                </div>
                <div class="card-content">
                    <p>Great Britain Silverstone</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['hungaroring']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/hu.png">
                </div>
                <div class="card-content">
                    <p>Hungary Budapest</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['spa']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/be.png">
                </div>
                <div class="card-content">
                    <p>Belgium Spa-Francorchamps</p>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a [routerLink]="['monza']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/it.png">
                </div>
                <div class="card-content">
                    <p>Italy Monza</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['marina_bay']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/sg.png">
                </div>
                <div class="card-content">
                    <p>Singapore Singapore</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['sepang']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/my.png">
                </div>
                <div class="card-content">
                    <p>Malaysia Kuala Lumpur</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['suzuka']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/jp.png">
                </div>
                <div class="card-content">
                    <p>Japan Suzuka</p>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a [routerLink]="['americas']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/us.png">
                </div>
                <div class="card-content">
                    <p>United States Austin</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['rodriguez']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/mx.png">
                </div>
                <div class="card-content">
                    <p>Mexico Mexico City</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['interlagos']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/br.png">
                </div>
                <div class="card-content">
                    <p>Brazil Sao Paulo</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['yas_marina']">
        <div class="col s8 m3">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/races/ae.png">
                </div>
                <div class="card-content">
                    <p>Abu Dhabi Yas Marina</p>
                </div>
            </div>
        </div>
    </a>
</div>